@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-Light-Cyan: hsl(193, 38%, 86%);
  --clr-Neon-Green: hsl(150, 100%, 66%);
  --clr-Grayish-Blue: hsl(217, 19%, 38%);
  --clr-Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --clr-Dark-Blue: hsl(218, 23%, 16%);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Project CSS */

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-Dark-Blue);
}

.card {
  width: 22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  background-color: var(--clr-Dark-Grayish-Blue);
  padding: 1.5rem;
  border-radius: 12px;
  position: relative;
}

.divider-mobile {
  display: block;
}

.divider-desktop {
  display: none;
}

.card-title {
  font-size: 1.25rem;
  color: var(--clr-Neon-Green);
}

.quote {
  font-size: 28px;
  color: var(--clr-Light-Cyan);
}

.divider-container {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.button-container{
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-dice {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  padding: 1rem;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-Neon-Green);
}

.btn-dice:hover {
  cursor: pointer;
  box-shadow: 0 0 20px var(--clr-Neon-Green);
}

.img-dice {
  width: 1.50rem;
}

/* Media Query */
/* Large devices (desktops) */

@media (min-width: 991px) {
  .card {
    width: 30rem;
  }

  .divider-mobile {
    display: none;
  }

  .divider-desktop {
    display: block;
  }
}
